<ul id="menu">
	<% Page.roots.each do |page| %>
		<li><%= link_to page.name, page, class: "active" if @page == page %></li>
	<% end %>
</ul>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page.name %>
</p>

<p>
  <b>Content:</b>
  <%= @page.content %>
</p>

<p>
  <b>Ancestry:</b>
  <%= @page.ancestry %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
